*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9)
}


body {
    margin: 0;
    background-color: #303960;

}

.board {
    background-color: #303960;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
}
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    position: relative;
    border: 5px solid #e8e4e1;
    border-radius: 10px;
}
.cell:first-child,.cell:nth-child(2),.cell:nth-child(3) {
    border-top: none;
}
.cell:last-child,.cell:nth-child(8),.cell:nth-child(7) {
    border-bottom: none;
}
 
.cell:nth-child(3n + 1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell.x, .cell.circle {
    cursor: not-allowed;
}

/* X */
.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: #f7f7f7;
}
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before{
   background-color:   #6f9ba3;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before, 
.board.x .cell:not(.x):not(.circle):hover::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}
/* circle */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  margin-top: 12px;
  background-color: #303960;
}

.winning-message {
    background: rgba(65,216,240,.9);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    /* width: 500px; */
    /* max-width: 80%; */
    /* height: 400px; */
    z-index: 10;
    padding: 50px 50px;
    transition: 200ms ease-in-out;
    border: 5px solid red;
    font-size: 5rem;
    transform: translate(-50%,-50%) scale(0);
}
.winning-message.show {
    transform: translate(-50%,-50%) scale(1);

}
.winning-message button {
    font-size: 3rem;
    background: white;
    border: 5px solid black;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 55px;
}

.winning-message button:hover {
    background: rgba(65,216,240,.9);
    border-color: white;
    color: white
}


@media(max-width: 500px) {
    .winning-message {
        padding: 60px 20px;
        font-size: 2rem;
        width: 250px;
        border: 2px solid red;

    }
    .winning-message button {
        font-size: 1.5rem;
        background: white;
        border: 2px solid black;
        padding: .25em .5em;
        cursor: pointer;
        border-radius: 15px;
        margin-top: 50px;
    }
}
